<div class = "container">
  <h1 class = "homepage-heading">Welcome to Trackify</h1>
  <div>
    <h3 class = "homepage-links"><a href = "/login">Login</a>  |  <a href = "/signup">Sign Up</a></h3>
  </div>
</div>
